<p>view-order works!</p>

<div *ngIf="viewDataFromApi">
  <ul >
    <li> id: {{viewDataFromApi.id}} </li>
    <li> First Name: {{viewDataFromApi.firstName}} </li>
    <li> Last Name: {{viewDataFromApi.lastName}} </li>
    <li> Phone number: {{viewDataFromApi.phoneNumber}} </li>
    <li> email: {{viewDataFromApi.email}} </li>
    <li> Product price: {{viewDataFromApi.productPrice}} </li>
    <li> Order status: {{viewDataFromApi.orderStatus}} </li>
    <li> Shipment Price: {{viewDataFromApi.shipmentPrice}} </li>
    <li> Shipment Status: {{viewDataFromApi.shipmentStatus}} </li>

  </ul>
</div>
