

<div *ngIf="lastNameData">
  <ul class="list-group">
    <li class="list-group-item"> id: {{lastNameData.id}} </li>
    <li class="list-group-item"> First Name: {{lastNameData.firstName}} </li>
    <li class="list-group-item"> Last Name: {{lastNameData.lastName}} </li>
    <li class="list-group-item"> Phone number: {{lastNameData.phoneNumber}} </li>
    <li class="list-group-item"> email: {{lastNameData.email}} </li>
    <li class="list-group-item"> Product price: {{lastNameData.productPrice}} </li>
    <li class="list-group-item"> Order status: {{lastNameData.orderStatus}} </li>
    <li class="list-group-item"> Shipment Price: {{lastNameData.shipmentPrice}} </li>
    <li class="list-group-item"> Shipment Status: {{lastNameData.shipmentStatus}} </li>
  </ul>
</div>

<div *ngIf="idData">
  <ul >
    <li> id: {{idData.id}} </li>
    <li> First Name: {{idData.firstName}} </li>
    <li> Last Name: {{idData.lastName}} </li>
    <li> Phone number: {{idData.phoneNumber}} </li>
    <li> email: {{idData.email}} </li>
    <li> Product price: {{idData.productPrice}} </li>
    <li> Order status: {{idData.orderStatus}} </li>
    <li> Shipment Price: {{idData.shipmentPrice}} </li>
    <li> Shipment Status: {{idData.shipmentStatus}} </li>

  </ul>
</div>
<div>
  <ul *ngFor="let allorder of allOrderData">
    <li> id: {{allorder.id}} </li>
    <li> First Name: {{allorder.firstName}} </li>
    <li> Last Name: {{allorder.lastName}} </li>
    <li> Phone number: {{allorder.phoneNumber}} </li>
    <li> email: {{allorder.email}} </li>
    <li> Product price: {{allorder.productPrice}} </li>
    <li> Order status: {{allorder.orderStatus}} </li>
    <li> Shipment Price: {{allorder.shipmentPrice}} </li>
    <li> Shipment Status: {{allorder.shipmentStatus}} </li>
  </ul>

</div>





