
  <form [formGroup]= "addOrderForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Imię: </label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="Podaj Imię">
    </div>
    <div class="form-group">
      <label for="lastName">Nazwisko: </label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="Podaj Nazwisko">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Numer: </label>
      <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Podaj Numer Telefonu">
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" class="form-control" formControlName="email" placeholder="Podaj Email">
    </div>
    <div class="form-group">
      <label for="orderStatus">Status Zamówienia: </label>
      <input type="text" class="form-control" formControlName="orderStatus" placeholder="Status zamowienia">
    </div>
    <div class="form-group">
      <label for="shipmentStatus">status Przesyłki: </label>
      <input type="text" class="form-control" formControlName="shipmentStatus" placeholder="Status Przesyłki">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj zamówienie</button>
</form>
