<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a style="color: darkcyan;" href="#" class="navbar-brand"> KataShop </a>
    <div class="collapse navbar-collapse " id="Nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color: darkcyan" class="nav-link active" href="order/all">Wszystkie zamowienia</a>
        </li>
        <li class="nav-item">
          <a style="color: darkcyan" class="nav-link active" href="order/add">Dodaj zamowienie</a>
        </li>
        <li class="nav-item">
          <a style="color: darkcyan" class="nav-link active" href="order/search">Szukaj zamowienia</a>
        </li>
        <li class="nav-item">
          <a style="color: darkcyan" class="nav-link disabled" href="#">Historia zamówień</a>
        </li>
        <li class="nav-item">
          <a style="color: darkcyan" class="nav-link disabled" href="#">Konto użytkownika</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
